@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1);
.font-dm .counter-wrapper .counter,
.font-dm .display-1,
.font-dm .display-2,
.font-dm .display-3,
.font-dm .display-4,
.font-dm .display-5,
.font-dm .display-6,
.font-dm .ff-serif,
.font-dm .post-title {
  font-family: "DM Serif Display";
  font-weight: 400 !important;
  word-spacing: normal !important;
  letter-spacing: normal !important;
}
.font-dm .display-1 {
  font-size: calc(1.385rem + 1.62vw);
  line-height: 1.1;
}
@media (min-width: 1200px) {
  .font-dm .display-1 {
    font-size: 2.6rem;
  }
}
.font-dm .display-2 {
  font-size: calc(1.365rem + 1.38vw);
  line-height: 1.15;
}
@media (min-width: 1200px) {
  .font-dm .display-2 {
    font-size: 2.4rem;
  }
}
.font-dm .display-3 {
  font-size: calc(1.355rem + 1.26vw);
  line-height: 1.15;
}
@media (min-width: 1200px) {
  .font-dm .display-3 {
    font-size: 2.3rem;
  }
}
.font-dm .display-4 {
  font-size: calc(1.325rem + 0.9vw);
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .font-dm .display-4 {
    font-size: 2rem;
  }
}
.font-dm .display-5 {
  font-size: calc(1.305rem + 0.66vw);
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .font-dm .display-5 {
    font-size: 1.8rem;
  }
}
.font-dm .display-6 {
  font-size: calc(1.285rem + 0.42vw);
  line-height: 1.25;
}
@media (min-width: 1200px) {
  .font-dm .display-6 {
    font-size: 1.6rem;
  }
}
.font-dm .h2.post-title,
.font-dm h2.post-title {
  font-size: calc(1.265rem + 0.18vw);
}
@media (min-width: 1200px) {
  .font-dm .h2.post-title,
  .font-dm h2.post-title {
    font-size: 1.4rem;
  }
}
.font-dm .h3.post-title,
.font-dm h3.post-title {
  font-size: 1.2rem;
}
.font-dm .counter-wrapper .counter {
  font-size: calc(1.335rem + 1.02vw);
}
@media (min-width: 1200px) {
  .font-dm .counter-wrapper .counter {
    font-size: 2.1rem;
  }
}
.font-dm .counter-wrapper .counter.counter-lg {
  font-size: calc(1.355rem + 1.26vw);
}
@media (min-width: 1200px) {
  .font-dm .counter-wrapper .counter.counter-lg {
    font-size: 2.3rem;
  }
}
